[Unit]
Description=RemTroll

[Service]
ExecStart=/usr/bin/remtroll {config}
User={user}
Group={wheel}

[Install]
Requires=network.target
After=network.target
