<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.remtroll.remtroll-server</string>

    <key>WorkingDirectory</key>
    <string>/usr/local/lib/node_modules/remtroll-server</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/remtroll</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin/:$PATH</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>QueueDirectories</key>
    <array/>

    <key>WatchPaths</key>
    <array/>
</dict>
</plist>
